body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#piano {
    display: flex;
}

.white-key {
    width: 50px;
    height: 200px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

.black-key {
    width: 30px;
    height: 120px;
    margin: 0 -15px;
    background-color: black;
    border: 1px solid black;
    position: relative;
    z-index: 1;
    cursor: pointer;
}